@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0fa;
  font-family: 'Poppins', sans-serif;
}

#map {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  height: 70vh;
}

button {
  cursor: pointer;
}

#markerWithExternalCss {
  background-image: url('https://maps.locationiq.com/v3/samples/marker50px.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
#marker2{
  background-color: #0653ea;
  
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 40;
}

.mapboxgl-popup {
  max-width: 200px;
  background-color: #0653ea;
  left: 0;
  top: 0;
}

.mapbox-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-improve-map {
  display: none !important;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-control-container {
  display: none !important;
}

.marker {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.paginationBttns {
  width: 100%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0;
}

.paginationBttns a {
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #0653ea;
  color: #0653ea;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0653ea;
}

.paginationActive a {
  color: white;
  background-color: #0653ea;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #0653ea;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 40vh;
  z-index: 50;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 992px) {
  /* body{
    background-color: ;
  } */
}
.short-scrollbar::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}