@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0FA;
  font-family: 'Poppins', sans-serif;
}

#map{ 
    width:90%; 
    margin: auto;
    margin-top: 2rem;
    height: 70vh;
  }

button{
  cursor: pointer;
}

#markerWithExternalCss{
  background-image: url('https://maps.locationiq.com/v3/samples/marker50px.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
}


.marker{
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 992px){
  body{
    /* padding: 2rem 5rem; */
  }
}
